build/
build-rpi4/
.vscode/
*.log
fat32.img
/mnt
/home/nikita/psych-ward-os/projects/sel4test/apps/sel4test-driver/fat32.img
.repo/
.sel4_cache/
.venv/
env/
venv/
bin/
obj/
*.o
*.a
.claude
pico-dirtyJtag/
situation.txt